<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Recognition</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <h1 class="title text-center">Activity Recognition</h1>
    
    <form action="/Predict_Activity_Recognition" method="post" enctype="multipart/form-data">
        <input type="file" id="videoInput" accept="video/mp4" name="video">
    </form>

   
    <div id="videoContainer">
        <video id="videoPlayer" controls autoplay></video>
    </div>






    <form action="/" method="get"><button type="submit" class="btn btn-primary">Home</button></form>
    <form action="/ComputerVision" method="get"><button type="submit" class="btn btn-primary">Back</button></form>

    <!-- Add Bootstrap and jQuery JS links -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        const videoInput = document.getElementById("videoInput");
            const videoPlayer = document.getElementById("videoPlayer");
            videoInput.addEventListener("change", ()=>{
                loadvideo();
            });
            function loadvideo(){
                const file = videoInput.files[0];
                if (file){
                    const videoURL = URL.createObjectURL(file);
                    videoPlayer.src = videoURL;
                }
            }

    </script>
</body>
</html>