<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3 class="title text-center">Set the features of a flower</h3>
    <div class="container text-center">
        <form action="/predictIrisSVM" method="POST">
            <label>Feature 1:</label>
            <input type="text" name="feature1"><br>
            <label>Feature 2:</label>
            <input type="text" name="feature2"><br>
            <label>Feature 3:</label>
            <input type="text" name="feature3"><br>
            <label>Feature 4:</label>
            <input type="text" name="feature4"><br>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>
        <form action="/Classification" method="get"><button type="submit" class="btn btn-primary">Back</button></form>
    </div>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}


    <div class="title text-center">These are some examples of <b>Classification</b> models</div>

    <div class="container">
        <div class="btn-container">
            <form action="/SVM_Classification" method="get"><button type="submit" class="btn btn-primary">SVM</button></form>
            <form action="/KNN" method="get"><button type="submit" class="btn btn-primary">KNN</button></form>
            <form action="/K_Nearest_Centroid" method="get"><button type="submit" class="btn btn-primary">K-Nearest-Centroid</button></form>
            <form action="/" method="get"><button type="submit" class="btn btn-primary">Home</button></form>
        </div>
    </div>
    
    <!-- Add Bootstrap and jQuery JS links -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   

</body>
</html>