<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add custom CSS style -->
    <style>
        body {
            background-color: #f7f7f7;
        }

        .container {
            margin-top: 50px;
        }

        .btn-container {
            display: flex;
            justify-content: center;
        }

        .btn-primary,
        .btn-secondary,
        .btn-warning,
        .btn-danger {
            margin: 10px;
            font-size: 18px;
            padding: 12px 20px;
        }
    </style>
</head>
<body>

    <div class="title text-center">These are some examples of <b>Classification</b> models</div>

    <div class="container">
        <div class="btn-container">
            <button type="button" class="btn btn-primary">SVM</button>
            <button type="submit" class="btn btn-primary">KNN</button>
            <button type="button" class="btn btn-primary">K-Nearest-Centroid</button>
        </div>
    </div>

    <!-- Add Bootstrap and jQuery JS links -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   

</body>
</html>