<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3 class="title text-center">Set the features of a flower</h3>
    <div class="container text-center">
        <form action="/ClassificationBreastCancer" method="POST">
            <label>Radius Mean</label>
            <input type="text" name="Radius_Mean"><br>
            <label>Texture Mean</label>
            <input type="text" name="Texture_Mean"><br>
            <label>Perimeter Mean</label>
            <input type="text" name="Perimeter_Mean"><br>
            <label>Area Mean</label>
            <input type="text" name="Area_Mean"><br>
            <label>Smoothness Mean</label>
            <input type="text" name="Smoothness_Mean"><br>
            <label>Compactness Mean</label>
            <input type="text" name="Compactness_Mean"><br>

            <button type="submit" class="btn btn-primary" name="SVM">SVM</button>
            <button type="submit" class="btn btn-primary" name="KNearestCentroid">K-Nearest-Centroid</button>
            
        </form>
        <form action="/" method="get"><button type="submit" class="btn btn-primary">Home</button></form>
        <form action="/Classification" method="get"><button type="submit" class="btn btn-primary">Back</button></form>
    </div>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    
    {% if result %}
        <h4 class="text-center">The predicted class is: {{ result }}</h4>
    {% endif %}

    <div class="title text-center">These are some examples of <b>Classification</b> models</div>

  
    <!-- Add Bootstrap and jQuery JS links -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   

</body>
</html>