<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNN</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="btn-container">
        <form action="/CNN_MNIST" method="get"><button type="submit" class="btn btn-primary">MNIST</button></form>
        <form action="/CNN_CIFAR" method="get"><button type="submit" class="btn btn-primary">CIFAR-10</button></form>
        <form action="/" method="get"><button type="submit" class="btn btn-primary">RealTime FaceDetection</button></form>
       
    </div>
</div>

 <!-- Add Bootstrap and jQuery JS links -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



</body>
</html>