<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mnist Real-Time</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2 class="title text-center">Real Time</h2>
    <div class="common">
        <div class="boxitem">
            <canvas id="inputimg" width="196" height="196"></canvas>
            <button id="clearbtn">Clear</button>
        </div>
        <div class="boxitem">
            <div id="pred">0</div>
            <div id="prob">Probability : </div>
        </div>
        <div class="boxitem">
            <svg id="probGraph" width="250" height="196"></svg>
        </div>
    </div>

    <form action="/ComputerVision_MNIST" method="get"><button type="submit" class="btn btn-primary">Back</button></form>
    <form action="/" method="get"><button type="submit" class="btn btn-primary">Home</button></form>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
    <script src="//d3js.org/d3.v5.min.js"></script>

     <!-- Add Bootstrap and jQuery JS links -->
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>