
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="title text-center">Image Upload Form</h1>
   
    <form action="/predict_uploaded_image" method="POST" enctype="multipart/form-data">
        <input type="file" name="img" accept="image/*" required>
        <button type="submit" class="btn btn-primary">Upload & Predict</button>
    </form>

    <h2>Predicted Digit:</h2>
    <p id="prediction-result">
        {% if predicted_value is defined %}
            Predicted Value: {{ predicted_value }}
        {% else %}
            (No prediction yet)
        {% endif %}
    </p>

    <form action="/" method="get"><button type="submit" class="btn btn-primary">Home</button></form>
    <form action="/ComputerVision_MNIST" method="get"><button type="submit" class="btn btn-primary">Back</button></form>

   <!-- Add Bootstrap and jQuery JS links -->
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>