<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/predictText" method="POST">
        <label>Feature 1:</label>
        <input type="text" name="feature1"><br>
        <label>Feature 2:</label>
        <input type="text" name="feature2"><br>
        <label>Feature 3:</label>
        <input type="text" name="feature3"><br>
        <label>Feature 4:</label>
        <input type="text" name="feature4"><br>

        <input type="submit" value="Predict">
    </form>
</body>
</html>