<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iris Regression Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h2 class="title text-center">Iris Regression Prediction</h2>
        <form id="user-input-form" method="POST">
            <div class="form-group">
                <label for="sepal_length">Sepal Length:</label>
                <input type="number" id="sepal_length" name="sepal_length" step="any" required>
            </div>
            <div class="form-group">
                <label for="sepal_width">Sepal Width:</label>
                <input type="number" id="sepal_width" name="sepal_width" step="any" required>
            </div>
            <div class="form-group">
                <label for="petal_length">Petal Length:</label>
                <input type="number" id="petal_length" name="petal_length" step="any" required>
            </div>
            <div class="form-group">
                <label for="petal_width">Petal Width:</label>
            <input type="number" id="petal_width" name="petal_width" step="any" required>
            </div>
            <button type="submit" class="btn btn-primary">Predict Regression</button>
        </form>
    </div>
    
    <div class="container">
        <h2 class="text-center">Predicted Regression Value:</h2>
        <p id="prediction-result">
            {% if predicted_value is defined %}
                Regression Value: {{ predicted_value }}
            {% else %}
                (No prediction yet)
            {% endif %}
        </p>
        <form action="/" method="get"><button type="submit" class="btn btn-secondary">Home</button></form>
        <form action="/Regression" method="get"><button type="submit" class="btn btn-secondary">Back</button></form>    
    </div>
    

   
    <!-- Add Bootstrap and jQuery JS links -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
