<!DOCTYPE html>
<html>
<head>
    <title>California Housing Price Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>California Housing Price Prediction</h1>
    
    <form action="/Regression_house" method="post">
        <label for="medinc">Median Income (MedInc):</label>
        <input type="text" id="medinc" name="medinc" required><br><br>
        
        <label for="houseage">House Age (HouseAge):</label>
        <input type="text" id="houseage" name="houseage" required><br><br>
        
        <label for="averooms">Average Rooms (AveRooms):</label>
        <input type="text" id="averooms" name="averooms" required><br><br>
        
        <label for="latitude">Latitude (Latitude):</label>
        <input type="text" id="latitude" name="latitude" required><br><br>

        <label for="longitude">Longitude (Longitude):</label>
        <input type="text" id="longitude" name="longitude" required><br><br>

        <label for="pop">Population (Population):</label>
        <input type="text" id="pop" name="pop" required><br><br>

        <label for="households">Households (Households):</label>
        <input type="text" id="households" name="households" required><br><br>

        <label for="rooms">Total Rooms (TotalRooms):</label>
        <input type="text" id="rooms" name="rooms" required><br><br>
        
        <input type="submit" value="Predict" class="btn btn-primary">
    </form>
    
    {% if prediction %}
    <h2>Predicted Median House Value:</h2>
    <p>{{ prediction }}</p>
    {% endif %}
    
    {% if error %}
    <h2>Error:</h2>
    <p>{{ error }}</p>
    {% endif %}


    <form action="/" method="get"><button type="submit" class="btn btn-primary">Home</button></form>
    <form action="/Regression" method="get"><button type="submit" class="btn btn-primary">Back</button></form>

    <!-- Add Bootstrap and jQuery JS links -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
