{% extends "base.html" %}

{% block title %}Activity Recognition - AI App{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1>Activity Recognition</h1>
            <p>Upload a video</p>
        </div>
    </section>

    <section class="features">
        <!-- <div class="form-container">
            <h1>Activity Recognition</h1>
            <form action="{{ url_for('routes.activity_recognition') }}" method="post" enctype="multipart/form-data">
                <label for="video">Upload Video:</label>
                <input type="file" name="video" accept="video/*" required>
                <button type="submit">Predict Activity</button>
            </form>
            {% if prediction_result %}
                <h2>Prediction Result: {{ prediction_result }}</h2>
            {% endif %}
        </div> -->
        <!-- {% if predicted_value %}
            <div class="result-container">
                <h2>Prediction Result: {{ predicted_value }}</h2>
            </div>
        {% endif %} -->
        <p> Under Reconstruction </p>
    </section>

{% endblock %}