{% extends "base.html" %}

{% block title %}Iris Classification - AI App{% endblock %}

{% block content %}
    <div class="container">
        <h1>Iris Classification</h1>
        <form action="{{ url_for('classification.classify_iris') }}" method="post">

            <label for="SepalLength">Sepal Length:</label>
            <input type="text" id="SepalLength" name="SepalLength" required>

            <label for="SepalWidth">Sepal Width:</label>
            <input type="text" id="SepalWidth" name="SepalWidth" required>

            <label for="PetalLength">Petal Length:</label>
            <input type="text" id="PetalLength" name="PetalLength" required>

            <label for="PetalWidth">Petal Width:</label>
            <input type="text" id="PetalWidth" name="PetalWidth" required>
            
            <div class="buttons-container">
                <button type="submit">Classify</button>
            </div>
        </form>

        {% if result %}
            <h2>Prediction Result: {{ result }}</h2>
        {% endif %}

        {% if message %}
            <h3 style="color: rgb(241, 110, 110);">{{ message }}</h3>
        {% endif %}
    </div>
{% endblock %}
