{% extends "base.html" %}

{% block title %}Clustering - AI App{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1>Clustering Tools</h1>
            <p>Select a clustering task to explore our AI-powered solutions.</p>
        </div>
    </section>

    <section class="features">
        <h2>Available Tasks</h2>
        <p>Choose a clustering task to get started.</p>
        <div class="buttons-container">
            <a href="{{ url_for('routes.clusteringIris') }}" class="feature-card">Iris Clustering</a>
            <a href="{{ url_for('routes.clusteringBreastCancer') }}" class="feature-card">Breast Cancer Clustering</a>
        </div>
    </section>
{% endblock %}