{% extends "base.html" %}

{% block title %}CIFAR-10 Image Classification - AI App{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1>CIFAR-10 Image Classification</h1>
            <p>Upload an image to classify it using the CIFAR-10 model.</p>
        </div>
    </section>

    <section class="features">
        <h2>Classify Image</h2>
        <p>Provide an image for classification.</p>
        <div class="form-container">
            <form action="{{ url_for('computer_vision.predict_cifar10') }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="image">Upload Image</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="buttons-container">
                    <button type="submit" class="cta-button">Classify</button>
                </div>
            </form>
        </div>

        {% if prediction_result %}
            <div class="result-container">
                <h2>Prediction Result: {{ prediction_result }}</h2>
            </div>
        {% endif %}
    </section>
{% endblock %}