{% extends "base.html" %}

{% block title %}MNIST Image Upload - AI App{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1>MNIST Image Upload</h1>
            <p>Upload an image of a digit to predict its value.</p>
        </div>
    </section>

    <section class="features">
        <h2>Predict Digit</h2>
        <p>Provide an image of a handwritten digit for classification.</p>
        <div class="form-container">
            <form action="{{ url_for('computer_vision.predict_mnist') }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="img">Upload Image</label>
                    <input type="file" id="img" name="img" accept="image/*" required>
                </div>
                <div class="buttons-container">
                    <button type="submit" class="cta-button">Predict</button>
                </div>
            </form>
        </div>

        {% if predicted_value %}
            <div class="result-container">
                <h2>Predicted Digit: {{ predicted_value }}</h2>
            </div>
        {% endif %}
    </section>
{% endblock %}