{% extends "base.html" %}

{% block title %}AI App{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to AI App</h1>
            <p>Unlock the future with our cutting-edge AI tools for smarter solutions.</p>
            <a href="{{ url_for('routes.about') }}" class="cta-button">Discover More</a>
        </div>
    </section>

    <section class="features">
        <h2>Explore Our AI Features</h2>
        <p>From classification to language technology, our AI tools empower your projects.</p>

        <div class="buttons-container">
            <a href="{{ url_for('routes.classification') }}" class="feature-card">Classification</a>
            <a href="{{ url_for('routes.clustering') }}" class="feature-card">Clustering</a>
            <a href="{{ url_for('routes.regression') }}" class="feature-card">Regression</a>
            <a href="{{ url_for('routes.computer_vision') }}" class="feature-card">Computer Vision</a>
            <a href="{{ url_for('routes.activity_recognition') }}" class="feature-card">Activity Recognition</a>
            <a href="{{ url_for('routes.language_technology') }}" class="feature-card">Language Technology</a>
            <a href="{{ url_for('routes.chatbot') }}" class="feature-card">Chatbot</a>
        </div>
    </section>
{% endblock %}