{% extends "base.html" %}

{% block title %}AI App{% endblock %}

{% block content %}
    <section class="hero">
        <h3>Welcome to AI App</h3>
        <p>Experience the power of AI with our innovative tools.</p>
        <a href="{{ url_for('routes.about') }}" class="cta-button">Learn More</a>
    </section>

    <section class="features">
        <h2>Explore Our AI Features</h2>
        <p>Our app offers diverse AI functionalities to assist you in classification, clustering, regression, and more.</p>

        <div class="buttons-container">
            <button onclick="window.location.href='{{ url_for('routes.classification') }}'">Start Classification</button>
            <button onclick="window.location.href='{{ url_for('routes.clustering') }}'">Start Clustering</button>
            <button onclick="window.location.href='{{ url_for('routes.regression') }}'">Start Regression</button>
            <button onclick="window.location.href='{{ url_for('routes.computer_vision') }}'">Start Computer Vision</button>
            <button onclick="window.location.href='{{ url_for('routes.activity_recognition') }}'">Start Activity Recognition</button>
            <button onclick="window.location.href='{{ url_for('routes.language_technology') }}'">Start Language Technology</button>
            <button onclick="window.location.href='{{ url_for('routes.chatbot') }}'">Start Chatbot</button>
        </div>
    </section>
{% endblock %}
