{% extends "base.html" %}

{% block title %}Languange model - AI App{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1>Languange model</h1>
        </div>
    </section>

    <section class="features">
        <!-- <div class="form-container">
            <h1>Languange model</h1>
             <form action="{{ url_for('routes.language_technology') }}" method="post" enctype="multipart/form-data">
                <label for="english_text">Enter English Text:</label>
                <textarea id="english_text" name="english_text" rows="4" required></textarea>
                <button type="submit">Translate</button>
            </form>
            {% if translated_text %}
                <h2>Translated Text:</h2>
                <p>{{ translated_text }}</p>
            {% endif %}
        </div> -->
        <p> Under Reconstruction </p>
    </section>

{% endblock %}