<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App Test</title>
</head>
<body>
    <h1>Test Flask App</h1>
    
    <form action="/predictPickup" method="post" enctype="application/json">
        <label for="startPostalCode">Start Postal Code:</label>
        <input type="text" id="startPostalCode" name="Start_PostalCode" required><br>

        <label for="day">Day:</label>
        <input type="text" id="day" name="Day" required><br>

        <label for="month">Month:</label>
        <input type="text" id="month" name="Month" required><br>

        <label for="year">Year:</label>
        <input type="text" id="year" name="Year" required><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
